Source: boottorrent
Section: python
Priority: optional
Maintainer: Shreyansh Khajanchi <shreyansh_k@live.com>
Build-Depends:
 debhelper (>=10),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-pip,
 python3-wheel,
 python3-sphinx,
 python3-sphinxcontrib.seqdiag,
 python3-sphinxcontrib.blockdiag,
Standards-Version: 4.1.4
Homepage: https://www.github.com/shreyanshk/boottorrent
X-Python3-Version: >= 3.6

Package: boottorrent
Architecture: all
Depends:
 dnsmasq,
 aria2,
 mktorrent,
 python3 (>= 3.6),
 ${python3:Depends},
 python3-jinja2,
 python3-yaml,
 ${misc:Depends},
Description: distributed P2P BitTorrent based network booting for various Operating systems.

# Package: boottorrent-doc
# Architecture: all
# Depends:
#  ${misc:Depends},
#  ${sphinxdoc:Depends},
# Description: distributed P2P BitTorrent based network booting for various Operating systems.
#  This is the common documentation package.
